@section Scripts {
<script asp-append-version="true" type="text/javascript" src="~/js/site.js"></script>
}

<section class="col-xs-12 text-center">
    <select id="cities">
        <option value="-1">Select City...</option>
    </select>
</section>
<section class="col-xs-12 text-center">
    <p>Summary: <span id="summary"></span></p>
    <p>Temperature: <span id="temp"></span></p>
    <p>UVIndex: <span id="uv"></span></p>
</section>